# آدرس پایه API برای محیط توسعه
# ex) http://localhost:4103
# باید با پورت دستور server در فایل دستورات پروژه یکی باشد. (فایل package.json)
VITE_API_BASE_URL=

# مشخص کردن محیط اجرا
# ex) (development, production, test)
VITE_APP_ENV=

# پیشوند ذخیره‌سازی در LocalStorage (برای جلوگیری از تداخل در یک دامنه)
# ex) edu_dev_
VITE_STORAGE_PREFIX=


# ۱. بررسی TypeScript
# npx tsc -b

# ۲. بررسی ESLint
# npm run lint

# ۳. اجرای Development Server
# npm run dev

# ۴. تست Build نهایی
# npm run build